/*
Authors:
TODO
*/

body {
	margin: 0;
}

nav {
	border-top: 1px solid white;
	position: fixed;
    top: 40px;
    width: 100%;
	margin: 0;
	padding: 0;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: Black;
	width: 100%;
	overflow: hidden;
}

nav li {
	width: 110px;
	float: left;
	border-right: 1px solid white;
}

nav li:last-child {
	border-right: none;
	float: right;
}

nav li a {
	color: white;
	display: block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

nav li a:last-child {
	border-right: none;
}

nav li a:hover {
	background-color: gray;
}

nav li .current {
	background-color: #4CAF50;
}
