/*
Authors:
TODO
*/

nav {
	position: fixed;
    top: 50px;
    width: 100%;
	margin: 0;
}

nav ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	/*background-color: #333;*/
	width: 100%;
}

nav li {
	display: inline-block;
	/*float: left;*/
	margin: 0;
	width: 19%;
	text-align: center;
}

nav li:last-child {
	/*border-right: none;*/
}

nav li a {
	display: inline-block;
    padding: 10px;
	margin: 0;
    background-color: LightBlue;
	text-align: center;
	text-decoration: none;
	
	border-radius: 25px;
    border: 1px solid Black;
	width: 100px;
    /*width: 200px;
    height: 150px; */
}

nav li a:hover {
    background-color: LightGreen;
}

nav li .current {
	background-color: LightCyan;
}
