
html {
	height: 100%;
}

body {
	height: 100%;
}

.login-top {
	float: right;
}

h1 {
	text-align: center;
}

header form {
	display: inline;
}

aside.nav-aside {
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 200px;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
	float: left;
	width: 15%;
	margin-top: 80px;
}

aside.nav-aside ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	width: 100%;
	overflow: hidden;
}

aside.nav-aside li {
	border-bottom: 1px solid white;
}

aside.nav-aside li a {
	color: white;
	display: block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

article {
	margin-top: 80px;
}

article.forum {
	float: right;
	width: 84%;
}

#wiki-search-bar {
	margin-left: 5px;
	width: 99%;
}

#wiki-search-text-entry {
	width: 88%;
}

#wiki-search-submit {
	width: 10%;
}