

.login-top {
	float: right;
	/*position: fixed;
	top: 0;*/
}

h1 {
	/*position: fixed;
	top: 100px;*/
	text-align: center;
}

header form {
	display: inline;
}

aside.nav-aside {
	top: 78px;
	position: fixed;
	
	border-right: 1px solid white;
	border-top: 1px solid white;
	width: 200px;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	height: 100%;
}

aside.nav-aside ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
	
	width: 100%;
	overflow: hidden;
}

aside.nav-aside li {
	border-bottom: 1px solid white;
}

aside.nav-aside li:last-child {
	
}

aside.nav-aside li a {
	color: white;
	display: block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
}

article {
	position: fixed;
	top: 80px;
	width: 100%;
}

article.forum {
	left: 200px;
	padding: 10px;
	width: auto;
}